<div id="template">
  <div id="sidebar">
    <app-search-contact/>
  </div>
  <div id="detail">
    @if (showWelcomeMessage) {
      <h1>Welcome to Angular Contacts</h1>
      <p>Manage your contacts in one place.</p>
      <p>Click on a contact to see details 👀</p>
      <p>Or <a [routerLink]="['/contact', 'create']">create a new one</a> 🚀</p>
      <img class="home-app-icon" src="/assets/holographic-contacts-icon.png" alt="contact-app-icon">
    } @else {
      <router-outlet />
    }
  </div>
</div>
